<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-home"></span>
                Concur
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/setup">Setup</a></li>
            <li><a href="/start">Start</a></li>
            <li><a href="/status">Status</a></li>
            <li><a href="/boxapi">Box API</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/debug">Debug</a></li>
        </ul>
      
    </div>
</nav>